[GENERAL]
# Define your Spotify application credentials
CLIENT_ID = <YOUR_CLIENT_ID>
CLIENT_SECRET = <YOUR_CLIENT_SECRET>
REDIRECT_URI = <YOUR_REDIRECT_URI>
# The (existing) playlist which will be updated
DISCOVER_DAILY_TARGET_ID = <YOUR_PLAYLIST_ID>